<!-- <h1>Hello from a Rails View</h1>

<p>I have <%= @diary_entries.length %> entries</p>

<p>I have <%= @diary_entries_positive.length %> positive entry</p> -->

<!--<% @diary_entries.each do |d| %>
	<%= d.title %>
	<%= d.description %>

	<% if d.mood == "happy" || d.mood == "joyful" %>
		<div style='color: green'><%= d.mood %></div>
	<% else %>
		<div><%= d.mood %></div>
	<% end %>		
<% end %>

<%= link_to 'Create New Diary Entry', new_diary_entry_path %> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Responsive -->
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>



<div class="container">

	<%= render "calendar" %>

	<ul class="nav nav-pills">
	  <li class="active">
	    <a href="#">Create</a>
	  </li>
	  <li><a href="#">Diary Entries</a></li>
	  <li><a href="#">About</a></li>
	</ul>

	<div class="page-header">
	<h2>Emily's Hacklendar</h2>
	</div>


	<form>
	  <fieldset>
	    <legend>Diary Entries</legend>
	    <input type="text" placeholder="Title"><br />
	    <textarea rows="3" placeholder="Description"></textarea><br />
	    <button type="submit" class="btn">Submit</button>
	  </fieldset>
	</form>

	<p>
		<button class="btn btn-info" type="button">
			<%= link_to 'New Diary Entry', new_diary_entry_path %>
		</button>	
	</p>
	<table class="table">
		<td>#</td>
		<td>Title</td>
		<td>Description</td>
		<td>Mood</td>

		<% @diary_entries.each do |d| %>
			<tr>
				<td><%= d.id %></td>
				<td><%= d.title %></td>
				<td><%= d.description %></td>
				<td><%= d. mood %></td>
			</tr>
		<% end %>
	</table>		

	<%= link_to "Previous day", diary_entries_path(day: Time.zone.now - 1.day) %>
	<%= link_to "Next day", diary_entries_path(day: Time.zone.now + 1.day) %>	


</div> <!-- end class container -->


</html>
